<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tenke.voicesdk">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:name=".application.VoiceApplication"
        android:allowBackup="true"
        android:excludeFromRecents="true"
        android:icon="@drawable/ic_launcher"
        android:label="语音模块"
        android:screenOrientation="nosensor"
        android:stateNotNeeded="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustPan">

        <activity
            android:name=".activity.DebugActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.VoiceService"
            android:enabled="true"
            android:exported="true" />

         <!-- baidu speech sdk start -->
        <meta-data
            android:name="com.baidu.speech.APP_ID"
            android:value="	70325372" />

        <meta-data
            android:name="com.baidu.speech.API_KEY"
            android:value="XWQvkM9e87iEXx0ycZzcaVJd" />
        <meta-data
            android:name="com.baidu.speech.SECRET_KEY"
            android:value="6xcTVFgXYKm0UBvkLFpibSGmXPdJJqK8" />

        <service
            android:name="com.baidu.speech.VoiceRecognitionService"
            android:exported="false" />
    </application>

</manifest>